@model IEnumerable<NoteTakingApp.Domain.Note>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>@ViewData["data"]</div>

<table>
  <thead>
    <tr>
      <th>Note text</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var note in Model)
    {
      <tr>
        <td>@note.Text</td>
      </tr>
    }
  </tbody>
</table>
